html{
    font-size: 62.5%;   
}
*{
    margin: 0;
    padding: 0;
}

:root{
    --Gothic: 'Nanum Gothic', sans-serif;
    --Yaldevi: 'Yaldevi', sans-serif;
    --Birthstone: 'Birthstone', cursive;
}   

var{
    font-family: --Gothic;
    font-family: --Yaldevi;
    font-family: --Birthstone;
}

/* ============TOP----PANEL================= */

.top-panel{
    display: flex;
    height: 7.6rem;
    justify-content: space-between;
    margin: 0 3rem;
    background-color: #ffffff;
}
.top-panel__logo{position: relative;font-size: 1.8rem;font-family: var(--Gothic);text-transform: uppercase;font-weight: 700;color: #3f444e;align-items: center;display: flex;}
.top-panel__logo > div{cursor: pointer;}
.top-panel__logo img.video{width: 1.6rem;height: 1.6rem;margin: 0rem 0.1rem 0.5rem 0.1rem;}
.top-panel__logo  img.video1{
    width: 0.5rem;
    height: 0.6rem;
    position: absolute;
    left: 2.2rem;
    top: 3.34rem;
}
.top-panel__navigation{list-style: none;display: flex;margin: 0;}
.top-panel__navigation button{background-color: white;border: 0;margin: 2.7rem 0;cursor: pointer;outline: none;}
.top-panel__navigation li{
    display: flex;
    margin-left: 5rem;
}

.top-panel__media{
  display: none !important;   
} 

.top-panel__comics{
    margin-left: 0 !important;
    position: relative;
}


.top-panel__navigation button + .top-panel__text{
    position: absolute;
    background-color: #d8232a;
    width: 6.5rem;
    text-align: center;
    border-radius: 0.5rem;
    top: -3rem;
    padding: 0.2rem 0;
    left: -2rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
 
}
.top-panel__navigation button:hover + .top-panel__text{
    opacity: 1;
    visibility: visible;
    top: 0rem;
}



.top-panel__text span{
    font-size: 1.3rem;
    font-family: var(--Gothic);
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}
.top-panel__comics  img.comics{
    width: 1.9rem;
    height: 2.1rem;
}
.top-panel__comics  img.comics1{
    position: absolute;
    top: 3.35rem;
    left: 0.6rem;
    width: 0.7rem;
    height: 0.8rem;
}
.top-panel__movie{
    position: relative;
    
}
.top-panel__movie .top-panel__movie--layer{
    position: absolute;
    z-index: 3;
    top: 8rem;
    left: -5.5rem;
    width: 13rem;
    border-top: 0.2rem solid #eee;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all;
}

.top-panel__movie:hover .top-panel__movie--layer{
    opacity: 1;
    visibility: visible;
    top : 6rem;

}


.top-panel__movie--layer li{
    width: 100%;
    margin: 0;
}

.top-panel__movie--layer li button{
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
    border-radius: 0;
    font-family: 'Yaldevi';
    border-bottom: 0.2rem solid #eee;
    transition: 0.4s;
}

.top-panel__movie--layer li button:hover{
    background-color: #eee;
    transform: scale(1.1,1.1);
    transition: 0.4s;
}
.top-panel__comics .top-panel__comics--layer{
    position: absolute;
    z-index: 3;
    top: 8rem;
    left: -5.5rem;
    width: 13rem;
    border-top: 0.2rem solid #eee;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all;
}



.top-panel__comics:hover .top-panel__comics--layer{
    opacity: 1;
    visibility: visible;
    top : 6rem;
}

.top-panel__game .top-panel__game--layer{
    position: absolute;
    z-index: 3;
    top: 8rem;
    left: -5.5rem;
    width: 13rem;
    border-top: 0.2rem solid #eee;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all;
}
.top-panel__game:hover .top-panel__game--layer{
    opacity: 1;
    visibility: visible;
    top : 6rem;
}


.top-panel__tv .top-panel__tv--layer{
    position: absolute;
    z-index: 3;
    top: 8rem;
    left: -5.5rem;
    width: 13rem;
    border-top: 0.2rem solid #eee;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all;
}

.top-panel__tv:hover .top-panel__tv--layer{
    opacity: 1;
    visibility: visible;
    top : 6rem;
}

.top-panel__movie  img.movie{
    width: 2.2rem;
    height: 1.7rem;
}
.top-panel__movie  img.movie1{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    left: 0.4rem;
    top: 3.5rem;
}
.top-panel__video{
    position: relative;
}
.top-panel__video  img.video{
    width: 2rem;
    height: 2rem;
}
.top-panel__video  img.video1{
    width: 0.7rem;
    height: 0.8rem;
    position: absolute;
    left: 0.73rem;
    top: 3.35rem;
}
.top-panel__game{
    position: relative;
}
.top-panel__game  img.game{
    width: 2.2rem;
    height: 2.2rem;
}
.top-panel__game  img.game1{
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 3.65rem;
    left: 0.5rem;
}
.top-panel__game  img.game2{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    left: 1.3rem;
    top: 3.8rem;
}
.top-panel__tv{
    position: relative;
}
.top-panel__tv  img.tv{
    width: 2rem;
    height: 1.6rem;
}
.top-panel__tv  img.tv1{
    width: 1rem;
    height: 0.8rem;
    position: absolute;
    top: 4rem;
    left: 0.5rem;
}
.top-panel__more{
    position: relative;
}
.top-panel__more  img.more{
    width: 1.4rem;
    height: 1.2rem;
    position: absolute;
    left: 0.5rem;
    top: 2.6rem;
}
.top-panel__more  img.more1{
    width: 1.8rem;
    height: 1.7rem;
}

.form-language{
    display: flex;
    margin-right: 1rem;
    position: relative;
}

.language{
    width: 10rem;
    font-family: 'Yaldevi';
    font-weight: 800;
    cursor: pointer;
}

.language option{
    width: 100%;
}

.language + .input-language{
    font-family: 'Yaldevi';
    font-weight: 800;
    position: absolute;
    top: 0;
    margin-top: 0.2rem;
    background-image: linear-gradient(to right,#1AD0B1,#02B6E1);
    color: white;
    left: 50%;
    transition: 0.4s all;
    opacity: 0;
    visibility: hidden;
}

.language:focus + .input-language{
    top: 100%;
    transition: 0.4s all;
    opacity: 1;
    visibility: visible;
}



.top-panel__user{
    display: flex;
    align-items: center;
}
.top-panel__user--img{
    margin-right: 1.2rem;
}
.top-panel__user--img > img{
    width: 3rem;
    height: 3rem;
}
.top-panel__user--text{
    font-family: var(--Gothic);
    font-size: 1.5rem;
    font-weight: bold;
}
.top-panel__user--edit{
    margin-left: 1.2rem;
}

.top-panel__user--edit > img{
    
width: 1.2rem;
cursor: pointer;    
height: 1.7rem;
}

.top-panel__user--menu{
    display: none;
}
.top-panel__user--menu img{
    width: 2rem;
    height: 3rem;
    cursor: pointer;
}

.background__media > img{
    display: none;
}

.background__menu{
    display: none;
}

.background__media{
    display: none;
}

@media screen and (max-width:790px) {
    .background__menu{
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #0000007a;
        margin: 0 !important;
        z-index: 5;
        left: 0;
        transition: 0.4s all;
        opacity: 1;
        visibility: visible;
    
    }
    
    .background__media > img{
        display: flex;
        position: fixed;
        width: 2rem;
        height: 2rem;
        top: 2.5rem;
        left: 1rem;
        cursor: pointer;
    }
    

    .top-panel__navigation{
        display: none !important;
    }
    .top-panel__user--text{
        display: none ;
    }
    .top-panel__user--edit{
        display: none;
    }
    .top-panel__user--img{
        display: none;
    }
    .top-panel__user--menu{
        display: inline !important;
    }
    .top-panel__media{
        display: flex !important;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
    .background__media{
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 7.5rem;
    position: fixed;
    top: 0;
    z-index: 6;
    right: 0;
    transition: 0.4s all;
    opacity: 1;
    visibility: visible;
    }

    .hidden{
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s all;
        width: 0%;
    }

    .top-panel__media > li{
        margin: 0 2rem !important;
    }

    .top-panel__navigation button:hover + .top-panel__text{
        top: -0.2rem;
    }
    .top-panel__navigation button:hover + .top-panel__text--comics{
        top: 0rem;
    }
    .top-panel__navigation button:hover + .top-panel__text--game{
        top: 0rem;
    } 
}


/* =================HEADER================ */
.header{
    height: 40rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
}

.header__background{
    background-color: #013a574f;
    height: 100%;
    position: absolute;
    width: 100%;
}
.header__text{
    position: relative;
    margin-left: 3rem;
    padding-top: 5rem;
}
.header__text h1{
    font-family: var(--Yaldevi);
    font-size: 6rem;
    text-transform: capitalize;
    color: white;
}
.header__text h3{
    font-family: var(--Yaldevi);
    font-size: 2.5rem;
    color: white;
}

h3.no__result{
    position: relative !important;
    margin-top: 4rem;
    max-width: 55rem;
}

.header form{position: absolute;margin: 0 3rem;padding-top: 4rem;width: 92%;}
.header form input{
    width: 70%;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.5);
    border: none !important;
    border-radius: 3rem;
    padding: 2rem 2rem;
}

.header form input.search{
    position: absolute;
    top: 50%;
    width: 10rem;
    right: 29%;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    border-radius: 3rem;
    z-index: 3;
    font-family: var(--Gothic);
    background-image: linear-gradient(to right,#1AD0B1,#02B6E1);
    color: white;
}   

/* =========================main=================== */
.main{
    flex-wrap: wrap;
    margin: 7rem 3rem 0 3rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap:1rem;
}


.main__movie{
    width: 100%;
    position: relative;
    border-bottom: 0.2rem solid whitesmoke;
    padding-top: 2rem;
    transition: 0.4s all;
    margin-right: 3rem;
}

@media screen and (max-width:790px) {
    .main{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}

.main__movie button{
    padding: 0% !important;
    width: 100%;
}

.main__movie img{
    width: 100%;
    height: 30rem;
    border-radius: 1rem;
    cursor: pointer;
}

.main__movie--poster{
    height: 30rem;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.main__movie--info h3{font-family: 'Birthstone';font-weight: 700;margin: 2rem 1rem 2rem 1rem;font-size: 2.5rem;width: 94%;height: 9rem ;overflow: auto; ;word-break: break-word;}

.main__movie--info h3::-webkit-scrollbar{
    width: 0.5rem;
}

.main__movie--info h3::-webkit-scrollbar-thumb{
    background: #DBDBDB;
    border-radius: 1rem ;
}

.main__movie--info .vote{
    background-color: #081C22;
    width: 4rem;
    padding: 0.68rem 0;
    border-radius: 3rem;
    position: absolute;
    text-align: center;
    top: 68%;
    left: 12%;
    border: 0.2rem solid white;
    z-index: 3;
}



.green{
    color: #21CD78;
}

.yellow{
    color: #D2D531;
}

.red{
    color: #db2360;
}
.main__movie--info span{
   
    font-family: system-ui;
    font-size: 1.5rem;
    font-weight: 500;
}
.main__movie .main__movie--overeview{
    position: absolute;
    top: 4%;
    background-color: white;
    z-index: 2;
    width: 100%;
    border: 0.1rem solid #eee;
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 1rem 0 1rem;
    height: 0rem;
    overflow: auto;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;
    transition: 0.4s all;
}

.main__movie:hover .main__movie--overeview{
    height: 15rem;
    opacity: 1;
    visibility: visible;
}

.main__movie--overeview h4{
    font-size: 2rem;
    color: black;
    font-weight: 600;
} 
.main__movie--overeview span {
    font-size: 1.3rem;
    font-family: var(--Gothic);
    font-weight: 600;
    color: #0000009e;
}


.main__movie .main__movie--store {
    height: 0rem !important;
    overflow: visible !important;
    text-align: center;
}

.main__movie:hover .main__movie--store{
    height: 5rem !important;
}

.store--profile{
    display: contents;
}

.store--info img{
    width: 2.5rem ;
    height: 2.5rem ;
    margin:0 5% ;
}


.main__movie--overeview::-webkit-scrollbar{
    width: 0.5rem;
}

.main__movie--overeview::-webkit-scrollbar-thumb{
    background: #DBDBDB;
    border-radius: 1rem ;
   
}

/* ===================TASKMOVIE================== */

.main__taskmovie--intro{
    display: flex;
    justify-content: space-between;
    margin-right: 8rem;
}
.main__taskmovie--intro h4{
    color: white;
    font-size: 2rem;
}
.main__taskmovie--intro span{
    color: white;
    font-size: 1.5rem;
    font-family: 'Yaldevi';
}
.main__taskmovie--date{
    margin-right: 3rem;
}
.main__taskmovie--popular{
   
}

.main__taskmovie--overview h4{
    font-size: 2rem;
}
.main__taskmovie--overview span{
    font-size: 1.5rem;
    word-break: break-word;
}
.main__taskmovie--overview{
    color: white;
    margin: 2rem 0;
    
}

.main__taskcomics{
    display: flex;
    align-items: center;
}

.main__taskmovie--overview button{
    font-size: 1.6rem;
    font-family: 'Yaldevi';
    color: white;
    background-image: linear-gradient(to right,#90cea1,#01b4e4);
    height: 4rem;
    width: 10rem;
    border-radius: 5rem;
    margin-left: 5rem;
}

.main__taskmovie--vote{
    display: flex;
}
.main__taskmovie--vote p{
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-family: 'Yaldevi';
    margin-left: 1rem;
}
.main__taskmovie--vote button{
    font-size: 1.6rem;
    font-family: 'Yaldevi';
    color: white;
    background-image: linear-gradient(to right,#90cea1,#01b4e4);
    width: 15rem;
    border-radius: 5rem;
    margin-left: 3rem;
}
.main__taskmovie{
    width: 80%;
    margin-left: 3rem;
    display: flex;
    padding-top: 9rem;
    border: 0;
}

.main__taskmovie > img{
    width: 35% !important;
    height: 45rem !important;
}

.main__taskmovie--info{
    margin-left: 4rem;
}
.main__taskmovie--info h3{
    color: white;
    font-family: var(--Birthstone);
    font-size: 5rem;
    font-weight: 700;
    word-break: break-word;
    height: 11rem;
}

.main__taskmovie--info .score{
    background-color: #081C22;
    border: 0.2rem solid white;
    font-family: system-ui;
    font-size: 1.5rem;
    font-weight: 500;
    width: 4rem;
    padding: 0.78rem 0;
    border-radius: 3rem;
    text-align: center;
}

.banner{
    position: fixed;
    width: 100%;
    height: 100%;
}
button.arrow-button{
    cursor: pointer;
    border-radius: 3rem;
    position: absolute;
    z-index: 1;
    /* background-color: #01b4e4; */
    border: 0;
    top: 9rem;
    left: 2rem;
}

button.arrow-button img{
    width: 3rem;
    height: 3rem;
    transform: rotateZ(180deg);

}
.main > h3{
    position: absolute;
    top: -2%;
    font-size: 2.5rem;
    font-family: 'Yaldevi';
    font-weight: bolder;
    border-bottom: 0.1rem solid #eee;
}

/* ==========background video============ */
.backgroundVideo{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000d1;
    z-index: 3;
    top: 0;
}
.backgroundVideo .slider{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.backgroundVideo .slider::-webkit-scrollbar{
    width: 0.5rem;
}

.backgroundVideo .slider::-webkit-scrollbar-thumb{
    background: #DBDBDB;
    border-radius: 1rem ;    
    
}

.backgroundVideo iframe{
    width: 70rem;
    height: 50rem;
}

.backgroundVideo .slider > div{
    scroll-snap-align: start;
    transition: 0.4s all;
}
.backgroundVideo img{
    cursor: pointer;
    border-radius: 3rem;
    position: absolute;
    z-index: 1;
    /* background-color: #01b4e4; */
    border: 0;
    top: 4rem;
    right: 3rem;
    height: 3rem;
    width: 3rem;
}

h3.trailer{ 
    color: white;
    font-size: 3rem;
    font-family: 'Yaldevi';
}

.screen-short{
    width: 75rem;
    height: 50rem;
    position: relative;
}
.screen-short img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}

/* =======================================PAGE======================================= */

.page{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 5rem;
    margin: 5rem auto 2rem auto;
    width: 90%;

}
.page__prev{
    background-image: linear-gradient(to right,#1AD0B1,#02B6E1);
    display: flex;
    align-items: center;
    border-radius: 4rem;
    padding-right: 2rem;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #808080a1;
    transition: 0.4s;
    border: 0.1rem solid white;
    width: 8.4rem;
    height: 3.2rem;
}

.page_disable{
    width: 8.4rem;
    height: 3.2rem;
}

.page__prev:hover{
    transform: scale(1.2);
}

.page__prev span{
    font-family: var(--Yaldevi);
    font-size: 1.5rem;
    color: white;
}
.page__next span{
    font-family: var(--Yaldevi);
    font-size: 1.5rem;
    color: white;
}

.page__prev img{
    width: 3rem;
    height: 3rem;
    transform: rotate(90deg);
    transition: 0.4s;
}

.page__position{
    background-image: linear-gradient(to right,#1AD0B1,#02B6E1);
    width: 6rem;
    height: 3rem;
    border-radius: 3rem;
    align-items: center;
    display: flex;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #808080a1;
    justify-content: center;
    border: 0.1rem solid white;
}
.page__position span{
    font-family: var(--Yaldevi);
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
.page__next{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    border-radius: 4rem;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #808080a1;
    background-image: linear-gradient(to right,#1AD0B1,#02B6E1);
    transition: 0.4s;
    border: 0.1rem solid white;
    width: 8.4rem;
    height: 3.2rem;
}

.page__next:hover{
    transform: scale(1.2);
}

.page__next img{
    width: 3rem;
    height: 3rem;
    transform: rotate(-90deg);
}

/* =======================SEARCH============================= */

ul.search__title{
    display: flex;
    position: absolute;
    top: -5rem;
    align-items: center;
    list-style: none;
}
ul.search__title > h3{
    background-image: linear-gradient(to right,#1AD0B1,#02B6E1);
    padding: 2rem 2rem;
    border-radius: 1rem;
    color: white;
    border: 0.1rem solid white;
    box-shadow: 1px 3px 4px 1px #808080a1;
}
ul.search__title li{
    font-family: 'Yaldevi';
    font-size: 1.5rem;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 1rem;
    padding: 0 1rem;
    color: gray;
}

ul.search__title li.active{
    box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #808080bd ;
    transform: scale(1.2);
    color: black;
}

ul.search__title li:hover{
    box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #808080bd;
    transform: scale(1.2);
    color: black;
}

ul.search__title span{
    background-color: #80808036;
    padding: 0.2rem 3rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 500;
}

/* ======================REPSONSIVE================================ */
@media screen and (max-width:1024px) {
    .header__text h1{
        font-size: 5rem;
    }
    .header__text h3{
        font-size: 2rem;
    }
    .main__taskmovie--overview{
        max-height: 22rem;
        overflow-y: auto;
    }

    .main__taskmovie--overview::-webkit-scrollbar{
        width: 0.5rem;
    }

    .main__taskmovie--overview::-webkit-scrollbar-thumb{
        background: #DBDBDB;
        border-radius: 1rem ;
    }

    .main__taskmovie--info h3{
        font-size: 3.5rem;
        height: 5rem;
        max-height: 9rem;
    }
    .main__taskmovie{
        padding-top: 6rem;
    }
}

@media screen and (min-height: 1024px){
    .main__taskmovie{
        padding-top: 20rem;
    }
}

@media screen and (min-height: 1336px){
    .main__taskmovie{
        padding-top: 30rem;
    }
}

@media screen and (max-width: 415px){
    .main__taskmovie--vote button{margin-left: 2rem;}
    .main{
        grid-template-columns: 1fr 1fr;
    }
    .header__text h1{
        font-size: 3rem;
    }
    .header__text h3{
        font-size: 1.5rem;
    }
    .main > h3{
        top:-1%;
    }
    .header{
        height: 30rem;
    }
    .header form input{
        width: 85%;
        font-size:1.2rem;
        padding: 1.8rem 2rem;
    }
    .header form input.search{
        right: 15%;
        font-size: 1.2rem;
        padding: 0.9rem 1rem;
        width: 8rem;
        top: 53%;
    }
    .main__taskmovie > img{
        width: 90% !important;
        margin-left: 1.1rem;
        height: 40rem !important;
    }

    .banner{
        height: 100%;
        top: 0;
        z-index: -1;
    }
    .main__taskmovie{
        width: 92%;
        margin-left: 2rem;
        padding-top: 7rem;
        display: block;
    }
    .main__taskmovie--info{
        margin: 3rem 0rem 1rem 0rem;
        width: 100%;
    }
    .top-panel{
        margin: 0;
        padding: 0 2rem;
    }
    .main__taskmovie--overview{
        width: 38rem;
        margin-right: 0;
    }
    .backgroundVideo iframe{
        width: 100%;
        height: 40rem;
    }
    .backgroundVideo .slider{
        width: 100%;
        height: 40rem;
    }
    .screen-short{
        width: 100%;
    }
    h3.no__result{
        margin-top: 7rem;
        font-size:2rem;
        min-width:23rem;
    }

    ul.search__title{
        
    }

    ul.search__title > h3{
        font-size: 1.5rem;
        padding: 2rem 1rem;
    }
    ul.search__title li{
        
    }
}

@media screen and (max-width: 376px){
    .main__taskmovie--overview{
        width: 34rem;
    }
}